<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<ul>
  <table class="table" >
    <tr>
      <th>the city name</th>
      <th> the temperature</th>
      <th> the maximum temperature</th>
      <th>the minimum temperature</th>
      <th>icon temperature</th>
    </tr>
  </table>
  <ng-container *ngFor="let kw of defoultCitys;let ind = index">
    <weather-module
      [woeid]="kw"
    >

    </weather-module>

  </ng-container>
  <loader
    [dataCount] = 'defoultCitys.length'
    tagName = "weatherData"
  >

  </loader>
</ul>


